SIDECAR_ANIME365_BASE_URL=https://smotret-anime.app
SIDECAR_ANIME365_LOGIN=user@example.com
SIDECAR_ANIME365_PASSWORD=qwerty
SIDECAR_DOWNLOAD_TIMEOUT_IMAGE=1m
SIDECAR_DOWNLOAD_TIMEOUT_VIDEO=1h
SIDECAR_EMBY_API_KEY=d505e9041faf4447935aedd336224b05
SIDECAR_EMBY_BASE_URL=http://localhost:8096/emby
SIDECAR_EMBY_LIBRARY_NAME=Anime 365
SIDECAR_EMBY_USER_ID=9283b8ae8bee4ccba61174e310ff0ab1
SIDECAR_JIKAN_API_BASE_URL=https://api.jikan.moe
SIDECAR_LIBRARY_DIRECTORY=.data/emby/mnt/anime365
SIDECAR_LOG_LEVEL=info
SIDECAR_METADATA_REFRESH_IDLE_INTERVAL=1h
SIDECAR_SCAN_IDLE_INTERVAL=5m
SIDECAR_SCAN_SOURCES=list_watching,list_planned
SIDECAR_SHIKIMORI_BASE_URL=https://shikimori.io
SIDECAR_TRANSLATIONS=ru_subtitles,ru_dub
